.btn() {
    display: block;
    background: @colorB;
    margin: 0 1% 2%;
    cursor: grab;
    width: 98%;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 3px groove @colorF;
    color: @colorC;
    font-family:@fontTitle;
    &:hover {
      background: @colorC;
      color: @colorB;
    } 
    }

    .flex(@justify,@align){
      display:flex;
      justify-content:@justify;
      align-items: @align;
    }

    //! Giovani's Mixins ----

    //* Used for the way the team pictures and text are displayed. 
    .team-content-style (@flex-flow) {
      display: flex;
      flex-flow: @flex-flow;
      justify-content: space-around;
    }

    .img-round (@radius) {
      border-radius:@radius;
    }

//! @media 
  @landingphone: ~"(max-width: 500px)";
  @landingtablet: ~"(max-width: 1000px)";
  @landingdesktop: ~"(max-width: 1200px)";